*.swp
.DS_Store
bin/configlet
bin/configlet.exe
bin/latest-configlet.tar.gz
bin/latest-configlet.zip
bin/configlet.zip

# Lake build artifacts
.lake/
lake-manifest.json
exercises/practice/darts/lake-manifest.json exercises/practice/hello-world/lake-manifest.json
